.smart-nav-link {
    --color-primary:#e8833a;

    display: flex;
    position: relative;
    align-items: center;
    margin: var(--dui-spacing-medium) 0;
    outline: none;
    /* border-bottom: var(--dui-width-separator-medium) solid transparent; */
    padding: var(--dui-spacing-medium);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dui-color-text);
    font-size: var(--dui-font-size-large);
    font-weight: var(--dui-font-weight-bold);
    &.active {
        background-color: var(--color-primary);
        color: var(--dui-color-white);
    }

    &:hover {
        background-color: var(--color-primary);
        color: var(--dui-color-white);
    }
}
