.leave {
    margin: auto;
    background-color: var(--color-background);

    table {
        background-color: #fff;
        cursor: pointer;

        thead > tr > th {
            padding: var(--spacing-medium);
        }

        tbody > tr > td {
            padding: var(--spacing-large-medium) var(--spacing-large);
        }

        tr > td > div {
            padding-left: inherit;
        }

        td > time {
            padding-left: inherit;
        }
    }

    .tags {
        border-radius: 50px;
        background-color: #f7c324;
        padding: var(--spacing-extra-small);
        width: 80%;
        min-width: max-content;
        text-align: center;
    }

    .btn-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-extra-large) 0;

        p {
            cursor: pointer;
            font-size: var(--font-size-large);
        }

        button {
            background-color: #e8833a;
            text-align: center;
            color:#fff;
        }
    }
}
