.dashboard {
    display: grid;
    margin: auto;
    background-color: var(--color-background);
    gap: 30px;
    
    .card-container {
        border: 1px solid var(--color-border);
        padding: var(--spacing-extra-large);
        width: 250px;

        .card-leave {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-extra-large) 0;
            padding-top: 0;

            .leave-text {
                cursor: pointer;
                width: 50%;
                text-align: center;
                font-size: var(--font-size-large-medium);
                font-weight: var(--font-weight-bold);
            }

            hr {
                height: 50px;
            }
        }

        button {
            display: flex;
            justify-content: center;
            background-color: var(--color-primary);
            width: 100%;
            color:var(--color-text-on-primary);
        }
    }

    .today-leave-container {
        display: grid;
        cursor: pointer;
        gap: 10px;

        .title{
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);
        }

        .leave-lists {

            .todayLeaveUser {
                display: flex;
                gap: 10px;
            }
        }
    }
}
