.leave {
    --color-primary:#e8833a;
    --color-border: #ebe5e5;

    display: flex;
    flex-direction: column;
    gap:20px;

    table {
        background-color: var(--dui-color-foreground);
        cursor: pointer;
    }

    table > thead > tr > th {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-table-border) !important;
        background-color: var(--dui-color-foreground);
        height: 45px;
    }

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            cursor: pointer;
            font-size: var(--dui-font-size-extra-large);
            font-weight: var(--dui-font-weight-bold);
        }

        button {
            border: none;
            border-radius: 4px;
            background-color: var(--color-primary);
            text-align: center;
            color:var(--dui-color-white);
        }
    }
}