.layout {
    --top-nav-height:60px;
    --side-nav-width:220px;

    .home {
        display: flex;

        .side-nav {
            border-right: 1px solid var(--color-border);
            background-color: var(--color-foreground);
            width: var(--side-nav-width);
            height: 100vh;

            .logo-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-bottom: 1px solid var(--color-border);
                box-shadow: 0px 2px 5px var(--color-shadow);
                padding: var(--spacing-extra-large);
                height: var(--top-nav-height);
            }

            .nav-text {
                margin-top: 10px;
                padding: var(--spacing-medium) 0;
                height: 60px;
                list-style: none;
            }

            .nav-text a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 var(--spacing-extra-large);
                height: 100%;
                text-decoration: none;
                font-size: var(--font-size-large);
            }

            .nav-text a:hover {
                transition: all 150ms ease;
                background-color: var(--color-primary);
                color: var(--color-text-on-primary);
            }

        }

        .top-nav {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--color-border);
            box-shadow: 0px 2px 5px var(--color-shadow);
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
            width:calc(100vw - var(--side-nav-width));
            height:var(--top-nav-height);

            .brand > svg {
                width: 1.2rem;
                height: 1.2rem;
            }

            .right-container {
                display: flex;
                flex: auto;
                flex-shrink: 0;
                justify-content: flex-end;
                padding: var(--spacing-medium);

                .icon-bell {
                    display: flex;
                    align-items:center;
                    padding:0 var(--spacing-extra-large);

                    svg {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }

                .avatar-container {
                    padding:0 var(--spacing-medium);

                    .avatar {
                        --size:2.2rem;
                    }

                }

                .user-info-container {
                    padding:0 var(--spacing-small);

                    .user-name {
                        font-size: var(--font-size-medium);
                    }

                    .user-position {
                        font-size: var(--font-size-small);
                    }
                }

                .icon-down {
                    padding-top: 3px;
                }
            }
        }
    }

    .content {
        display: flex;
        position: absolute;
        top: 60px;
        left: var(--side-nav-width);
        padding: var(--spacing-large);
        width: calc(100% - var(--side-nav-width));
    }

    .bottom {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--color-border);
        box-shadow: 0px 2px 5px var(--color-shadow);
        background-color: var(--color-foreground);
        padding: var(--spacing-large);
        width:calc(100vw - var(--side-nav-width));
        height:var(--top-nav-height);
    }
}
